/********/
/*Layout*/
/********/
body {
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: 100px auto;
  grid-template-areas:
  "header header "
  "aside main";
  margin: 0px;
  height: 100vh;
  width: 100vw;
}

#header {
  grid-area: header;
  background-color: #9CF6F6;
}

#aside {
  grid-area: aside;
  background-color: #C9F9FF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  overflow:hidden;
}

#board {
  grid-area: main;
  background-color: #C9F9FF;
}

/********/
/*Header*/
/********/
#header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 25px;
}

#divbtn {
  display: flex;
  flex-direction: column;
  margin-right: calc(100vw - 400px);
}

#icon-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#man {
  color: #4464AD;
  font-size: 40px;
  margin-right: 10px;
}

#turn-text {
  color: white; /* #0CBABA*/
  font-family: hobeaux, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  margin-right: 20px;
}

#ship {
  color: #4464AD;
  font-size: 40px;
}

/*********/
/*Buttons*/
/*********/
button {
    display: block;
    align-items: center;
    padding: 5px 15px;
    background-color: #4464AD;
    color: #C9F9FF;
    border-radius:20px;
    border: #30C5FF;
    font-family: hobeaux, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
}

#view {
  margin-top: 5px;
}

button:hover {
  color: #F5FDC6;
  border: 2px solid #F5FDC6;
}

/*********/
/* ASIDE */
/*********/
aside > h1 {
  font-family: fairwater-sailor-serif, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 90px;
  color: #6DD3CE;
  transform: rotate(-90deg);
  padding-left: 130px;
}

/******/
/*Main*/
/******/
#board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px;
  padding: 5px;
  height: calc(100vh - 110px);
  overflow-y: scroll;
}

 .info-card {
  width: 25%;
}

.info-card > div {
  background-color: white;
  border-radius: 20px;
  margin: 5px;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.info-card > div:hover {
  background-color: #E8E4E3;
}


.info-card p {
  font-size: 14px;
  font-family: open-sans-condensed, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: black;
  text-align: center;
  padding: 5px;
}

/***************/
/* Card Colors */
/***************/
/* .info-card > .yellow {
  background-color: #FFEF9F;
}

.info-card > .purple {
  background-color: #B2ABF2;
}

.info-card > .red {
  background-color: #F7717D;
}

.info-card > .red {
  background-color: #F7717D;
}

.info-card > .ccyellow {
  background-color: #FAF6E2;
}

.info-card > .ccpurple {
  background-color: #E9E7F7;
} */

/**********************/
/* Web Responsiveness */
/**********************/
@media screen and (max-width: 1100px) {
  body {
    grid-template-columns: 125px auto;
    grid-template-rows: 75px auto;
  }
  aside > h1 {
    font-size: 80px;
  }
  #view {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 900px) {
  body {
    grid-template-columns: 100vw;
    grid-template-rows: 75px auto;
    grid-template-areas:
    "header"
    "main";
    margin: 0px;
    height: 100vh;
    width: 100vw;
  }
  #aside {
    display: none;
  }
  .info-card p {
    font-size: 12px;
  }
  #view {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  body {
    grid-template-columns: 100vw;
    grid-template-rows: 75px auto;
    grid-template-areas:
    "header"
    "main";
    margin: 0px;
    height: 100vh;
    width: 100vw;
  }
  #aside {
    display: none;
  }
  .info-card p {
    font-size: 10px;
  }
  #view {
    margin-bottom: 20px;
  }
}

#boat {
  height:50px;
  width: 40px;
}
